services:
  xenon-support-bot:
    build: .
    container_name: xenon-support-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    networks:
      - proxy

networks:
  proxy:
    external: true
